@media (min-width: 380px) {

  .benefits__box-img {
    margin: 0 auto;
    width: auto;
    height: 230px;
  }
}


@media (min-width: 760px) {

  .benefits {
    background: linear-gradient(111.04deg, #E2E2E2 0.39%, rgba(255, 255, 255, 0) 86.46%);
  }
  .logo__link-img {
    display: inline-block;
    padding: 15px 35px 15px 0px;
  }
  .container {
    max-width: 760px;
    margin: 0 auto;
  }
  .menu {
    display: block;
  }
  .logo {
    float: left;
  }
  .menu::after {
    content: '';
    clear: both; 
    display: block;
  }
  .menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;
  }
  .menu__list-item {
    display: inline-block;
  }
  .menu__list-link {
    text-decoration: none;
    padding: 4px 10px;
    line-height: 100px;
    margin-right: 15px;
  }
  .menu__btn {
    margin-left: 85px;
    text-decoration: none;
    padding: 4px 10px;
  }
  .menu__list-link:hover,
  .menu__btn:hover{
    color: #FFFFFF;
    background: #00C368;
    box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.4);
    border-radius: 8px; 
  }
}

@media (min-width: 1220px) {

  .benefits__title {
    position: absolute;
    top: 5px;
    left: 350px;
    padding-top: 50px;
  }
  .benefits__inner {
    position: relative;
    padding: 220px 0 580px;
  }
  .benefits__box-img {
    position: absolute;
    top: 380px;
    left: 315px;
  }
  .benefits__title::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 130px;
    padding-bottom: 15px;
    border-top: 4px solid #00C368;
  }
  .slider__item {
    position: absolute;
  }
  .slider__item--1 {
    top: -55px;
    left: 270px;
  }
  .slider__item--2 {
    left: 520px;
    top: -65px;
  }
  .slider__item--3 {
    left: 690px;
    top: 140px;
  }
  .slider__item--4 {
    left: 520px;
    top: 365px;
  }
  .slider__item--5 {
    left: 270px;
    top: 357px;
  }
  .slider__item--5 img{
    margin-left: 51px;
  }
  .slider__item--6 {
    left: 75px;
    top: 140px;
  }
  .slider__item img {
    display: block;
  }
}

@media (min-width: 1220px) {

  .container {
    max-width: 1020px;
    margin: 0 auto;
  }
  .logo__link-img {
    padding-right: 65px;
  }
  .menu__list-link,
  .menu__btn {
    padding: 4px 24px;
  }
  .menu__btn {
    margin-left: 180px;
  }
}

@media (min-width: 1530px) {

  .container {
    max-width: 1320px;
    margin: 0 auto;
  }
  .logo__link-img {
    padding-right: 54px;
  }
  .menu__btn {
    margin-left: 420px;
  }
  .benefits__title {
    position: absolute;
    top: 5px;
    left: 500px;
  }
  .benefits__inner {
    position: relative;
    padding: 220px 0 580px;
  }
  .benefits__box-img {
    position: absolute;
    top: 380px;
    left: 455px;
  }
  .slider__item {
    position: absolute;
  }
  .slider__item--1 {
    top: -55px;
    left: 405px;
  }
  .slider__item--2 {
    left: 665px;
    top: -65px;
  }
  .slider__item--3 {
    left: 835px;
    top: 140px;
  }
  .slider__item--4 {
    left: 665px;
    top: 365px;
  }
  .slider__item--5 {
    left: 405px;
    top: 357px;
  }
  .slider__item--6 {
    left: 225px;
    top: 140px;
  }
  .slider__item img {
    display: block;
  }
}

@media (min-width: 1920px) {

  .benefits {
    background: url(../images/pattern-2.svg) no-repeat 10px 165px, url(../images/pattern-1.svg) no-repeat 1260px -56px, linear-gradient(111.04deg, #E2E2E2 0.39%, rgba(255, 255, 255, 0) 86.46%);
  }

  .benefits__title {
    font-size: 40px;
    width: 1223px;
  }
  .container {
    max-width: 1749px;
    margin: 0 auto;
  }
  .logo__link-img {
    padding-right: 42px;
  }
  .menu__list-link,
  .menu__btn {
    margin-right: 46px;
  }
  .menu__btn {
    margin-left: 805px;
  }
  .benefits__title {
    position: absolute;
    top: 5px;
    left: 235px;
  }
  .benefits__inner {
    position: relative;
    padding: 220px 0 580px;
  }
  .benefits__box-img {
    position: absolute;
    top: 380px;
    left: 670px;
  }
  .slider__item {
    position: absolute;
  }
  .slider__item--1 {
    top: -55px;
    left: 620px;
  }
  .slider__item--2 {
    left: 880px;
    top: -65px;
  }
  .slider__item--3 {
    left: 1050px;
    top: 140px;
  }
  .slider__item--4 {
    left: 880px;
    top: 365px;
  }
  .slider__item--5 {
    left: 620px;
    top: 357px;
  }
  .slider__item--6 {
    left: 440px;
    top: 140px;
  }
  .slider__item img {
    display: block;
  }
}

